{% extends 'base.jinja2' %}

{% block content %}

    <div class="container-xxl" style="margin-top: 0.2rem">
      <center><h2>All Art</h2></center>
    </div>
    <div class="container-xxl">
    <div class="container d-flex justify-content-center align-self-center container-style">
    <div class="card card-container"">
      <img src="static/art1.png" class="card-img-middle" alt="Art1" style="width: 95%; height: 100%; ; padding: 0.2rem;">
    </div>
        <div class="card card-container">
      <img src="static/art2.png" class="card-img-middle" alt="Art2" style="width: 95%; height: 100%; ; padding: 0.2rem;">
    </div>
        <div class="card card-container">
      <img src="static/art3.png" class="card-img-middle" alt="Art3" style="width: 95%; height: 100%; ; padding: 0.2rem;" >
    </div>
        <div class="card card-container">
      <img src="static/art4.png" class="card-img-middle" alt="Art4" style="width: 95%; height: 100%; ; padding: 0.2rem;">
    </div>
    </div>
    <div class="container d-flex justify-content-center align-self-center container-style">
        <div class="card card-container">
          <img src="static/art5.png" class="card-img-middle" alt="Art5" style="width: 95%; height: 100%; ; padding: 0.2rem;">
        </div>
        <div class="card card-container" >
          <img src="static/art6.png" class="card-img-middle" alt="Art6" style="width: 95%; height: 100%; ; padding: 0.2rem;">
        </div>
        <div class="card card-container">
          <img src="static/ot1.png" class="card-img-middle" alt="other1" style="width: 95%; height: 100%; ; padding: 0.2rem;">
        </div>
        <div class="card card-container">
          <img src="static/ot2.png" class="card-img-middle" alt="other2" style="width: 95%; height: 100%; ; padding: 0.2rem;" >
        </div>
    </div>
        <div class="container d-flex justify-content-center align-self-center container-style">
        <div class="card card-container">
          <img src="static/ot3.png" class="card-img-middle" alt="other3" style="width: 95%; height: 100%; ; padding: 0.2rem;">
        </div>
        <div class="card card-container">
          <img src="static/potrait6.png" class="card-img-middle" alt="portrait6" style="width: 95%; height: 100%; ; padding: 0.2rem;">
        </div>
        <div class="card card-container">
          <img src="static/ot5.png" class="card-img-middle" alt="other5" style="width: 95%; height: 100%; ; padding: 0.2rem;">
        </div>
        <div class="card card-container">
          <img src="static/potrait1.png" class="card-img-middle" alt="portrait1" style="width: 95%; height: 100%; ; padding: 0.2rem;" >
        </div>
    </div>
    <div class="container d-flex justify-content-center align-self-center container-style">
        <div class="card card-container">
          <img src="static/potrait2.png" class="card-img-middle" alt="portrait2" style="width: 95%; height: 100%; ; padding: 0.2rem;">
        </div>
        <div class="card card-container">
          <img src="static/potrait3.png" class="card-img-middle" alt="portrait3" style="width: 95%; height: 100%; ; padding: 0.2rem;">
        </div>
        <div class="card card-container">
          <img src="static/potrait4.png" class="card-img-middle" alt="portrait4" style="width: 95%; height: 100%; ; padding: 0.2rem;">
        </div>
        <div class="card card-container">
          <img src="static/potrait5.png" class="card-img-middle" alt="portrait5" style="width: 95%; height: 100%; ; padding: 0.2rem;" >
        </div>
    </div>
    <div class="container d-flex justify-content-center align-self-center container-style">
        <div class="card card-container">
          <img src="static/wild1.png" class="card-img-middle" alt="wild1" style="width: 95%; height: 100%; ; padding: 0.2rem;">
        </div>
        <div class="card card-container">
          <img src="static/wild2.png" class="card-img-middle" alt="wild2" style="width: 95%; height: 100%; ; padding: 0.2rem;">
        </div>
        <div class="card card-container">
          <img src="static/wild3.png" class="card-img-middle" alt="wild3" style="width: 95%; height: 100%; ; padding: 0.2rem;">
        </div>
        <div class="card card-container">
          <img src="static/ot4.png" class="card-img-middle" alt="other4" style="width: 95%; height: 100%; ; padding: 0.2rem;">
        </div>
    </div>
    <div class="container d-flex justify-content-center align-self-center container-style">
        <div class="card card-container">
          <img src="static/wild5.png" class="card-img-middle" alt="wild5" style="width: 95%; height: 100%; ; padding: 0.2rem;">
        </div>

    </div>
    </div>

{% endblock %}