{% extends 'base.jinja2' %}

{% block content %}
    <div class="container-xxl" style="margin-top: 0.2rem">
      <center><h2>Art</h2></center>
    </div>
    <div class="container-xxl">
    <div class="container d-flex justify-content-center align-self-center container-style">
        <div class="card card-container"">
          <img src="static/art1.png" class="card-img-middle" alt="Art1" style="width: 95%; height: 100%; ; padding: 0.2rem;">
        </div>
            <div class="card card-container">
          <img src="static/art2.png" class="card-img-middle" alt="Art2" style="width: 95%; height: 100%; ; padding: 0.2rem;">
        </div>
            <div class="card card-container">
          <img src="static/art3.png" class="card-img-middle" alt="Art3" style="width: 95%; height: 100%; ; padding: 0.2rem;" >
        </div>
            <div class="card card-container">
          <img src="static/art4.png" class="card-img-middle" alt="Art4" style="width: 95%; height: 100%; ; padding: 0.2rem;">
        </div>
    </div>
    <div class="container d-flex justify-content-center align-self-center container-style">
        <div class="card card-container">
          <img src="static/art5.png" class="card-img-middle" alt="Art5" style="width: 95%; height: 100%; ; padding: 0.2rem;">
        </div>
        <div class="card card-container" >
          <img src="static/art6.png" class="card-img-middle" alt="Art6" style="width: 95%; height: 100%; ; padding: 0.2rem;">
        </div>
    </div>
    </div>

{% endblock %}